



  body {
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
  }

  .pokemon-card {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    position: relative;
    margin-bottom: 20px; /* Add space below the card */
  }

  .pokemon-card:hover {
    transform: scale(1.05);
  }

  .pokemon-image {
    width: 100%;
    height: 200px; /* Set a fixed height */
    background-color: #f8f8f8;
    transition: filter 0.3s ease-in-out;
    filter: blur(5px);
    object-fit: contain; /* Ensure the image fits within the container */
  }

  .pokemon-info {
    padding: 20px;
  }

  .pokemon-name,
  .pokemon-type,
  .pokemon-id {
    display: none;
  }

  .result-message {
    font-size: 20px;
    margin-top: 15px;
  }

  input {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }

  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #45a049;
  }

  /* Loading Spinner */
  .loader {
    position: absolute;
    top: 100px; /* Adjust this value to center the loader vertically within the image area */
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
    display: none;
  }

  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #efeffa;
  }

  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #efeffa;
  }

  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #efeffa;
  }

  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }





