/* General Styling */
body {
    background-color: rgb(212, 247, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Heading */
h1 {
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
}

/* Textarea Styling */
#text-input {
    width: 80%;
    max-width: 600px;
    height: 350px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
}

/* Note Styling */
.note {
    color: red;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 20px;
}

/* Button Styling */
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button Hover Effect */
.btn:hover {
    background-color: #45a049;
}
