/* Navbar */
.navbar {
    grid-area: navbar;
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black; /* Set background color to black */
    box-shadow: 2px 5px grey;
}

/* Navbar links */
a {
    color: white; /* Set text color to white */
    text-decoration: none;
    font-size: 15px;
    padding: 20px 35px 20px 30px;
    letter-spacing: 3px;
}

a:hover {
    color: white; /* Keep hover color white */
    background-color: #333; /* Set hover background color to a slightly darker shade of black */
}
