body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, black, grey, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    border-bottom: #77A6F7 3px solid;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

header nav ul {
    padding: 0;
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 40px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    flex: 1; /* Expand to fill remaining space */
}

section {
    margin-bottom: 40px;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"],
button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"] {
    width: 100%; /* Make search bars take full width */
    max-width: 400px; /* Limit maximum width */
}

button {
    background-color: #777;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #999;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
}

.project {
    flex: 1 1 300px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project h3 {
    margin: 0;
    font-size: 1.2rem;
}

.project p {
    margin: 10px 0 0;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.project a {
    align-self: flex-end;
    text-decoration: none;
    color: #77A6F7;
    transition: color 0.3s ease;
}

.project a:hover {
    color: #99c2f5;
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
    color: #fff;
    background-color: #333;
    text-align: center;
    position: relative;

}

/* Loading bar  */
#loading-bar {
    width: 100%;
    height: 4px;
    background-color: rgb(234, 159, 234);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}