*{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
body{
    background-color: black;
    color: white;
    margin: 0;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rm;
}
.sidebar{
background-color:black;
width: 300px;
border-radius: 1rem;
margin: 0.5rem;
}
.main-content{
background-color:rgb(34, 33, 33);
flex:1;
border-radius: 1rem;
overflow: auto;
padding: 0 1.5rem 0 1.5rem;
}
.music-player{
background-color: black;
height: 72px;
width: 100%;
bottom: 0;
position: fixed;
border-radius: 1rem;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: rgb(34, 33, 33);
    border-radius: 15px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
}
.nav-option{
   line-height:2.5rem;
   opacity: 0.75;
   padding: 0.5rem;
}
.nav-option:hover{
   
    opacity: 1;
 }
.nav-option i{
    font-size: 1.75 rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.library{
    border-radius: 1rem;
    background-color: rgb(34, 33, 33);
    height: 100%;
    margin-top: 0.74rem;
    padding: 0.5rem 0.75rem;
}
.icons{
    font-size: 1rem;
    opacity:0.7;
    margin:1rem
}
.icons i{
    opacity:0.7;
    margin-right: 1rm;
}
.icons i:hover{
    opacity:1;
   
}
.box{
    background-color: rgb(71, 70, 70);
    height: 8.125rem;
    border-radius: 0.813rem;
    margin-top: 1rem;
}
.box-p1{
    line-height:2.5rem;
   margin-left: 1rem;
}
.box-p2{
    line-height:2.5rem;
    margin-left: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
}
.badge{
    margin-left: 20px;
    background-color: white;
    border:none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
}
.sticky-nav{
    position: sticky;
    top:0;
    background-color:rgb(34, 33, 33) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 7px;
    z-index: 10;
}
.sticky-nav-icons{
    margin-left: 0.75rem;
}
.sticky-nav-options{
    margin-left: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items{
    margin-right: 1rem;
}
@media(max-width:1000px){
 .hide{
    display: none;
 }
}
.card{
    background-color: rgb(71, 70, 70);
    width:150px;
    border-radius:0.5rem;
    padding :0.5rem;
    margin:1.5rem
}
.card-container{
    display:flex;
   flex-wrap: wrap;
}
.card-image{
    width:100%;
}
.card-title{
    font-weight: 600;
}
.card-info{
    opacity:0.8;
    font-size: 0.75rem;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    height: 50%;
    width: 90%;
    border-top:1px solid white ;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
}
.player{
    width: 50%;
}
.control{
    width: 25%;
}
.player-control{
    display: flex;
    justify-content: center;
  align-items: center;
}
.player-control-icon{
    height: 1rem;
  
    margin-right: 2rem;
    margin-bottom: 0.1rem;
    opacity: 0.7;
}
.player-control-icon:hover{
opacity:1;
} 
.playback-bar{
    display: flex;
   justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
margin-top: -6px;
}
.volume{
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.volume::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.volume::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
margin-top: -6px;
}
.first-line {
    display: flex; /* Align items in the same line */
    align-items: center; /* Center items vertically */
}

.first-line img {
    margin-right: 10px; /* Space between image and text */
}

.first-line p {
    margin-right: 10px; 
    font-weight: 600;/* Space between text and icons */
}

.artist-name {
    margin-top: 5px; /* Space above the artist name */
}

.image-inside{
   
    height: 50px;
    width: 50px;
}
#first{
    margin-left: 5px;
}
#second{
    margin-left: 5px;
}
#f1{
    margin-left: 2px;
}
#f2{
    margin-left: 2px;
}
#f3{
    margin-left: 2px;
}
#f4{
    margin-left: 2px;
}
#f5{
    margin-left: 2px;
}

