{{!-- header --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/india">GO_CORONA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/india">India</a>
      <a class="nav-item nav-link" href="/world">World<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/vaccination">Vaccination</a>
      <a class="nav-item nav-link" href="/testing">Testing</a>
      <a class="nav-item nav-link" href="/hospitals">Hospitals</a>
      <a class="nav-item nav-link" href="https://www.bbc.com/news/coronavirus">News</a>
      <a class="nav-item nav-link" href="https://www.verywellmind.com/work-from-home-motivation-4802480">Motivation</a>
      <a class="nav-item nav-link " id="name">ANIMESH</a>
    </div>
  </div>
</nav>