#extras {
    font-family: Arial;
    font-weight: bold;
    text-align: right;
}

.side {
    font-family: Arial;
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
}

#bar {
    display: flex;
    z-index: 3px;
    height: 38px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 18px;
    text-align: left;
    margin: 10px;
    width: 510px;
    font-size: 17px;
    font-family: Arial;
}

.search {
    text-align: center;
    margin: 15px;
}

.logo_center {
    margin-top: 14px;
    width: 288px;
    height: 100px;
}

/* For Google Advanced Search Page */
#heading_Advance {
    font-display: flex;
    color: rgb(185, 28, 28);
    font-family: Arial;
    text-align: left;
    margin: 19px;
    font-size: 21px;
}

.div-advanced {
    margin: 50px;
}

.fpages {
    color: #333333;
    font-size: 19px;
    font-family: sans-serif;
}

.bar-input {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
}

.left {
    width: 200px;
}

.right {
    width: 385px;

}

.p-advanced {
    font-size: 14px;
    vertical-align: middle;
}

.btn-search {
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
}

.btn-div {
    display: flex;
    justify-content: flex-end;
    width: 585px;
    margin-top: 30px;
}

.btnx {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}