body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}
#video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.video {
    margin: 10px;
    width: 300px;
}
.video img {
    width: 100%;
    cursor: pointer;
}
#video-player {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
