  <script type="text/javascript">
   const themeSwitch = document.querySelector('input');
   themeSwitch.addEventListener('change', () => {
     document.body.classList.toggle('dark-theme');
   });
  </script>
 </body>
</html>
