body {
	padding: 0;
	margin: 0;
	height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}
.slider-ui {
	position: relative;
	width: 500px;
	height: 50px;
	margin: 70px 0;
}
.slider-ui input {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	width: 100%;
	cursor: pointer;
	opacity: 0;
}
.slider-ui .bar {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	border-radius: 50px;
	box-shadow: 0 5px 0 rgba(0,0,0,.1);
}
.slider-ui .min,
.slider-ui .max {
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	font-weight: 800;
	color: #fff;
}
.slider-ui .min {
	left: 2%;
}
.slider-ui .max {
	right: 2%;
}
.slider-ui .track {
	position: absolute;
	z-index: 3;
	left: 25px;
	right: 25px;
	top: 0;
	bottom: 0;
}
.slider-ui .value {
	position: absolute;
	left: 50%;
	top: 0;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 800;
	color: #fff;
	background-color: #fff;
	border: 4px solid #000;
	border-radius: 100%;
	box-sizing: border-box;
	transform: translateX(-50%);
	transition: top .3s ease-in-out, color .3s ease-in-out;
}
.slider-ui .value.up {
	top: -110%;
	color: #000;
}
.slider-ui.color1 .bar {
	background-color: #00b894;
}
.slider-ui.color1 .value {
	border-color: #00b894;
}
.slider-ui.color2 .bar {
	background-color: #00cec9;
}
.slider-ui.color2 .value {
	border-color: #00cec9;
}
.slider-ui.color3 .bar {
	background-color: #0984e3;
}
.slider-ui.color3 .value {
	border-color: #0984e3;
}

.footer{
    position: absolute;
    bottom: 0px;
    
    padding: 0.4rem !important;margin: 10px;
            border-color: inherit;
              border-style: solid;
              border-width: 0;
            background-color: #212529 !important;
}
.footer h4{
    color: white; 
    text-align: center;
}