* {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  background-color: #000;
}
.clock,
.date {
  height: 300px;
  width: 1000px;
  background: linear-gradient(
    135deg,
    #f1c0e8,
    #c77dff,
    #b6ccfe,
    #b9fbc0,
    #fbf8cc
  );
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 225, 0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 225, 0.75);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 225, 0.75);
  border-radius: 15px;
  animation: animate 1.5s linear infinite;
}
.display,
.layout {
  padding: 20px;
  border-radius: 15px;
  width: 800px;
}
.clock .display,
.date .layout {
  position: absolute;
  top: 18%;
  left: 8%;
  background-color: #1b1b1b;
  z-index: 999;
  height: 140px;
  text-align: center;
}
.clock .display #time,
.date .layout #period {
  line-height: 140px;
  color: #fff;
  font-size: 6em;
  letter-spacing: 0.1em;
  background: linear-gradient(
    135deg,
    #f1c0e8,
    #c77dff,
    #b6ccfe,
    #b9fbc0,
    #fbf8cc
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
