html {
  background-color: rgba(250, 250, 250, 1);
  margin: 0%;
  padding: 0%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 32px auto 0;
  max-width: 875px;
  padding-bottom: 32px;
  width: 100%;
}
.div1 {
  background-image: url(img.png);
  background-repeat: no-repeat;
  height: 581.15px;
  position: relative;
  width: 465px;
}
.div2 {
  position: relative;
  height: 538.84px;
  margin: 25px 0 0 156px;
  left: 0%;
  top: 0%;
  padding: 0%;
}
ul,
li {
  padding: 0%;
  margin: 0%;
}
.div3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
button {
  display: block;
  width: 266px;
  padding: 8px;
  text-align: center;
  background-color: #0095f6;
  margin: 15px 0px;
  border-color: rgba(219, 219, 219, 1);
  border-radius: 6px;
  color: white;
  font-weight: bold;
  outline: 0px;
}
.div4,
.div8 {
  border: 1px solid rgba(219, 219, 219, 1);
  padding: 30px 40px;
  background-color: rgba(255, 255, 255, 1);
}
input {
  display: block;
  padding: 6px;
  font-size: small;
  width: 250px;
  height: 24px;
  margin: 4px 0px;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
  outline: 0px;
}
#break {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 266px;
}
.div5,
.div7 {
  border: 0.01px solid rgba(219, 219, 219, 1);
  display: inline-block;
  width: 50%;
  align-items: center;
  height: 0px;
}
.div6 {
  margin: 0px 18px;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  color: rgba(142, 142, 142, 1);
}
h1 {
  text-align: center;
  font-family: "Arima Madurai", cursive;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 0%;
  text-shadow: 2px 1px grey;
}
#fb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fb {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

#loginfb {
  text-decoration: none;
  color: #385185;
  font-weight: 550;
}
#reset {
  display: flex;
  justify-content: center;
  color: #00376b;
  font-size: 12px;
  text-decoration: none;
}
.div8 {
  padding: 20px;
  margin: 0px 0px 10px;
  text-align: center;
  color: #262626;
  font-size: 14px;
}
#signup {
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
}
p {
  text-align: center;
}
.div9 {
  padding-bottom: 0px;
}
.div10 {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.div10 img {
  height: 40px;
  margin-right: 10px;
}
footer {
  background-color: rgba(250, 250, 250, 1);
  padding-left: 16px;
  padding-right: 16px;
  margin: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  margin: 0px 6px;
  color: rgba(142, 142, 142, 1);
}
.firsthalf {
  text-align: center;
}
.secondhalf {
  text-align: center;
}
.copyright {
  display: flex;
  justify-content: center;
  align-content: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  color: rgba(142, 142, 142, 1);
}
select {
  text-decoration: none;
  border: 0;
  color: rgba(142, 142, 142, 1);

  width: 65px;
}
.copyright div {
  padding-left: 10px;
}
@media screen and (max-width: 875px) {
  section {
    margin: 32px 0;
  }
  .div1 {
    display: none;
    width: 0%;
    height: 0%;
    margin: 0%;
    padding: 0%;
  }
}
@media screen and (max-width: 440px) {
  .div3 {
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
    border: 0;
    align-items: center;
    text-align: center;
  }
  .div4,
  .div8,
  .div9 {
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    width: 60%;
    align-items: center;
  }
}
