* {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .circle {
    height: 300px;
    width: 300px;
    position: relative;
    transform-style:preserve-3d ;
    /* transform: perspective(500px) rotateX(60deg); */
  }
  .circle span {
      border: 5px solid white;
      border-radius: 50%;
      position: absolute;
      display: block;
      box-shadow: 0 5px 0 #ccc,
                  inset 0 5px 0 #ccc;
      box-sizing: border-box;            
      animation: load 3s ease-in-out infinite ;
  }
  @keyframes load{
      0%, 100%{
          transform: translateY(-100px);
      }
      50%{
          transform: translateY(100px);
      }
  }
  .circle span:nth-child(1)
  {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      animation-delay: 1.4s;
  }
  .circle span:nth-child(2)
  {
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      animation-delay:1.3s;
  }
  .circle span:nth-child(3)
  {
      top: 20px;
      bottom: 20px;
      left: 20px;
      right: 20px;
      animation-delay: 1.2s;
  }
  .circle span:nth-child(4)
  {
      top: 30px;
      bottom: 30px;
      left: 30px;
      right: 30px;
      animation-delay: 1.1s;
  }
  .circle span:nth-child(5)
  {
      top: 40px;
      bottom: 40px;
      left: 40px;
      right: 40px;
      animation-delay: 1.0s;
  }
  .circle span:nth-child(6)
  {
      top: 50px;
      bottom: 50px;
      left: 50px;
      right: 50px;
      animation-delay: 0.9s;
  }
  .circle span:nth-child(7)
  {
      top: 60px;
      bottom: 60px;
      left: 60px;
      right: 60px;
      animation-delay: 0.8s;
  }
  .circle span:nth-child(8)
  {
      top: 70px;
      bottom: 70px;
      left: 70px;
      right: 70px;
      animation-delay: 0.7s;
  }
  .circle span:nth-child(9)
  {
      top: 80px;
      bottom: 80px;
      left: 80px;
      right: 80px;
      animation-delay: 0.6s;
  }
  .circle span:nth-child(10)
  {
      top: 90px;
      bottom: 90px;
      left: 90px;
      right: 90px;
      animation-delay: 0.5s;
  }
  .circle span:nth-child(11)
  {
      top: 100px;
      bottom: 100px;
      left: 100px;
      right: 100px;
      animation-delay: 0.4s;
  }
  .circle span:nth-child(12)
  {
      top: 110px;
      bottom: 110px;
      left: 110px;
      right: 110px;
      animation-delay: 0.3s;
  }
  .circle span:nth-child(13)
  {
      top: 120px;
      bottom: 120px;
      left: 120px;
      right: 120px;
      animation-delay: 0.2s;
  }
  .circle span:nth-child(14)
  {
      top: 130px;
      bottom: 130px;
      left: 130px;
      right: 130px;
      animation-delay: 0.1s;
  }
  .circle span:nth-child(15)
  {
      top: 140px;
      bottom: 140px;
      left: 140px;
      right: 140px;
      animation-delay: 0s;
  }
  