{% extends 'layout.html' %}

{% block title %}
Science
{% endblock %}

{% block styles %}
<style>
    a {
        color: black;
    }
    a:hover {
        color: purple;
    }
    h4 {
        color: purple;
    }
    .row {
        margin: 2%;
        padding: 2%;
        font-size: 1em;
    }
    /* Add image styling for responsiveness */
    img {
        width: 100%;
        height: auto; /* Maintain aspect ratio */
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    {% for i in parsed["articles"] %}
    <div class="row">
        <div class="col-12 col-sm-3">
            <img src="{{ i['urlToImage'] }}" alt="Article Image">    
        </div>
        <div class="col-12 col-sm">
            <a href="{{ i['url'] }}">
                <h4>{{ i["title"] }}</h4>
                <b>{{ i["description"] }}</b>
                <p>{{ i["content"] }}</p>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

    
