* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Pacifico', cursive;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80vh;
}

.photo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 5px;
    background-color: #ddd;
    color: white;
    font-size: 18px;
    transition: flex 0.7s ease-in-out;
    cursor: pointer;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
    border-radius: 10px;
}

.photo p {
    margin: 10px 0;
}

.nishat {
    background-color: #ff5733;
}

.nedu {
    background-color: #33ff57;
}

.neha {
    background-color: #3357ff;
}

.nura {
    background-color: #ff33a2;
}

.mahee {
    background-color: #a233ff;
}

/* When the .photo is clicked, it expands */
.photo.open {
    flex: 5;
}

/* After the expansion animation is done, apply some effects */
.photo.open-active p:first-child {
    transform: translateY(-20px);
}

.photo.open-active p:nth-child(2) {
    transform: translateY(20px);
}

.photo.open-active p:last-child {
    transform: translateY(40px);
}

.photo p {
    transition: transform 0.5s;
}
