/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Base styles */
body {
    background-color: lightyellow;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Anaheim', sans-serif;
}

/* Form styles */
#main {
    border: 1px solid lightgrey;
    border-radius: 1rem;
    width: 70%;
    padding: 12px;
    margin-top: 12px;
    margin-left: 14px;
    background-color: white;
    text-align: left;
}

h1 {
    font-size: 20px;
    margin-bottom: 12px;
    text-align: center;
}

/* Personal section */
fieldset {
    border: 1px solid lightgrey;
    margin: 10px;
    text-align: left;
    padding-left: 10px;
}

legend {
    font-size: 15px;
}

p {
    display: inline;
    font-size: 14px;
    color: black;
    opacity: 0.6;
}

/* Section 3 */
#dropdown, #dropdown2 {
    font-size: 12px;
    color: black;
    opacity: 0.6;
}

/* Section 4 */
textarea {
    font-size: 10px;
}

/* Button styling */
#button, #submit {
    color: white;
    background-color: red;
    border: 1px solid red;
    padding: 2px;
    display: block;
    margin: auto;
}

/* Utility classes */
.form-rows {
    margin: 12px;
}

.form-rows input {
    font-size: 10px;
    color: lightgrey;
}

.form-rows label {
    font-size: 14px;
    color: black;
    opacity: 0.6;
}
