body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica , sans-serif;
    min-width: 400px

}
/*
Style our app according to the provided design ! 
green color -> #5f9341
*/

input {
    width: 100%; /*100% + 10px + 10px */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background-color: #5f9341;
    color:white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
}

#delete-btn {
    background-color: white;
    color: #5f9341;

}
/*
STYLE THE LIST ACCORDING TO THE DESIGN  
*/

ul {
    list-style-type: none;  
    padding : 8
}

li{
    margin: 5px;


}

li a {
    color:#5f9341
} 