/* Dark Theme Styles */
html, body {
    background-color: #333;
    color: #fff;
}

#turn {
    background: #444;
    border-color: #222;
}

.turnhighlight {
    background: #5cb85c;
    color: #fff;
}

.gamecell {
    background: #555;
    border-color: #222;
}

/* Add any other specific dark theme styles here */