/* Light Theme Styles */
html, body {
    background-color: #fff;
    color: #333;
}

#turn {
    background: #fff;
    border-color: #000;
}

.turnhighlight {
    background: #5cb85c;
    color: #fff;
}

.gamecell {
    background: #ccc;
    border-color: #000;
}

/* Add any other specific light theme styles here */