*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
html,body{
  height:100%;
  width:100%;
 background-image: url(./gif.gif);
 background-size: cover;
 background-position: center;
  position: fixed;
}


 
  
.App {
    text-align: center;
    background-color:#010101af;
    width: 450px;
    height:630px;
    border: black 2px solid;
    margin-left: 39%;
    margin-top:8%;
    border-radius: 10%;
    position: relative;
    
    
  }
  
.buttons{
    display: grid;
    position: absolute;
    top:28%;
    left:15%;
    
    margin:20px;
   
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(60px, auto);
  }

  
.btn{
    background-color: palevioletred;
    color: white;
   
    margin: 10px;
    border-radius: 3px;
    border: none;
    height:60px;
    width:60px;
    margin-left: 0px;
    font-size: 15px;
    font-family: monument;
    border-radius: 50px;
    cursor: pointer;
  }
  .btn:hover{
    background: #efeeee;
    color: #010101;
    scale: 0.8;
    transition: all ease 0.5s;
  }
  

.Clear{
    grid-column: 1/span 2;
  
   
}


.Del{
    grid-column: 3/span 2;
}
.highlight{
  background-color: rgb(246, 243, 243);
  color:rgb(14, 13, 13);
  font-size: 12px;

}



  
.display{
   
    
    font-size: 40px;
    background-color: #fff;
    position: absolute;
    top:10%;
    color: rgb(16, 16, 17);
    width: 380px;
    height: 60px;
    text-align: center;
    
 
    left: 8%;
    border-radius: 50px;
    border: 1px solid black;
    font-family: gilroy;
  }
  
