{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
This is the cart page. proceed to review your items and place the order
{% endblock %}
{% block title %}
    Cart-Mintmade Fashion PVT LTD
{% endblock %}
{% block content %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your Shopping cart is empty
        </h1>
        <br>
        <p class="text-center">
            Please Click <a href="{% url 'shop:allProdCat' %}">Here</a>to continue
        </p>
    </div>
    {% else %}
    <div>
        <div class="text-center">
            <br>
            <h1 class="text-center my_title">
                Your Shopping Cart
            </h1>
            <br>
        </div>

        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                    <tr>
                        <th colspan="5">
                            Your Items
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart_item in cart_items %}
                    <tr>
                        <td>
                            <a href="cart_item.product.get_absolute_url"><img src="{{cart_item.product.image.url}}" alt="" class="float-left rounded custom_image"></a>
                        </td>
                        <td class="text-lef">
                            {{cart_item.product.name}}
                            <br>
                            SKU: {{cart_item_product.id}}
                            <br>
                            price: $ {{cart_item.product.price }}
                            <br>
                            Qty: {{cart_item.quantity}} x $ {{cart_item}}
                        </td>
                        <td>
                            $ {{cart_item.sub_total}}
                        </td>
                        {% if cart_item.quantity < cart_item.product.stock %}
                        <td>
                            <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a"><i class="fa fa-plus custom_icon"></i></a>
                            &nbsp;<a href="" class="custom_a"><i class="fa fa-minus custom_icon"></i></a>
                            &nbsp;<a href="" class="custom_icon"><i class="fa fa-trash custom_icon"></i></a>
                        </td>
                        {% else %}
                        <td>

                            &nbsp;<a href="" class="custom_a"><i class="fa fa-minus custom_icon"></i></a>
                            &nbsp;<a href="" class="custom_icon"><i class="fa fa-trash custom_icon"></i></a>
                        </td>
                         {% endif %}

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
             <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                    <tr>
                        <th>
                            Checkout
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Please review your shopping cart items before peocessing wuth the order payment.
                        </td>
                    </tr>
                    </tbody>
                    <table>
                        <div class="mx-auto">
                            <a href="{% url 'shop:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button">Continue Shoppping</a>
                        </div>
                    </table>
                </table>
        </div>
        </div>



     {% endif %}

          </div>
</div>
        {% endblock %}