{% block title %}
    {% if category %}
        {{ product.name }} - Mintmade Fasion
    {% endif %}
{% endblock %}
{% block content %}
<div class="row my_prod_row_class">
    <div  class="mx_auto">
        <p><a href="{% url 'shop:allProdCat' %}">Home</a> | <a href="{{product.category.get_url}}">{{product.category}}</a> |{{product.name}}</p>
    </div>
</div>
<div class="container">
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div style="min-width:18rem">
              <img src="{{product.image.url}}" alt="{{product.name}}">
        </div>
    </div>
<div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="my_prod_title">{{product.name}}</h1>
            <p>${{product.price}}</p>
            <p class="text-justify my_rod_text">Product Description</p>
            <p>{{product.description}}</p>
            {% if product.stock <= 0 %}
            <p class="text-justify my_prod_text"><b>Out of stock</b></p>
            {% else %}
            <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
            {% endif %}
    </div>
</div>

        </div>
</div>
{% endblock %}
