
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply a background color to the body and use a sans-serif font */
  body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  nav{
    background-color:white;
    height:100%;
    position:sticky;
    top:0;
    left:0;
    z-index:10;
    box-shadow: 0px  3px 3px rgb(117, 112, 112);
    
  }
  ul{
   
    display:grid;
    grid-template-rows:60px;
    grid-template-columns: auto  100px 100px 100px;
    /*border:1px solid red;*/
    width:100%;
    height:100%;
    align-items:center;
  
  }
  li{
    
    list-style:none;
    margin:20px;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
  }
  
  a:hover {
    background-color: lightgrey;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  /* Style the home section */
  #home {
    background: url("/images/img3.jpg") no-repeat center center/cover;
    opacity: 0.8;
    height: 500px;
    position: relative;
  }
  
  #home-content {
    color: black;
    font-size: 48px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  /* Style the about section */
  #about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background-color: #fff;
    margin-bottom: 30px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  #about-section {
    flex: 1;
    margin-left: 20px;
  }
  
  #about-section-heading {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #about-section-des {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
  }
  
  /* Style the menu section */
  #menu {
    display: flex;
    justify-content: left;
    background-color: #fff;
    padding: 60px;
    margin-bottom: 30px;
  }
  
  .menu-items {
    margin-bottom: 20px;
  }
  
  #menu-main-heading {
    font-size: 36px;
    text-align: center;
    margin: 0 auto 20px;
  }
  
  .menu-headings {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .menu-des {
    color: #555;
  }
  
  /* Style the contact section */
  #contact {
    background-color: #fff;
    padding: 60px;
    margin-bottom: 30px;
  }
  
  #contact-main-heading {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #contact-sub-heading {
    font-size: 24px;
    color: #4c4c8a;
    margin-bottom: 20px;
  }
  
  .contact-content {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  form {
    background-color: #f2f2f2; /* Gray background color */
     /* Black border */
    padding: 20px; /* Add some padding to the container */
    width: 400px; /* Adjust the width as needed */
    max-width: 400px;
    margin: 0 auto;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="button"] {
    width: 100%;
    background-color: #3777a0;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #1b4d7d;
  }
  
  /* Style the footer */
  #footer {
    background: #333;
    text-align: center;
    padding: 20px;
  }
  
  #footer-content {
    color: white;
    font-size: 16px;
  }
  
  /* Add a horizontal rule style */
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 30px 0;
  }
  