*{
    margin:0;
    padding:0;
    background:black;
  
}
.main{
   /*border:1px solid green; */
   width:100vw;
   height:30vh;
 display:flex;
 justify-content:center;
   
}
.color{
    /*border:1px solid black;*/
    width:100px;
    height:30px;
   margin:2px;
   margin-top:50px;
}
.red{
   background-color:red;
}
.violet{
    background-color:violet;
}
.cyan{
    background-color:cyan;
}
.green{
    background-color:green;
}
.yellow{
    background-color:yellow;
}
.circle{
    width:250px;
    height:250px;
    /*border:1px solid black;*/
    border-radius:50%;
    margin:auto;
}