<div class="container">

    <div class="card mt-3">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Book Management App</h2>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <input class="form-control" [(ngModel)] = "bookTitle" placeholder="Book Title">
            </div>
            <div class="col-md-3">
                <input class="form-control" [(ngModel)] = "bookAuthor" placeholder="Book Author">
            </div>
            <div class="col-md-3">
                <input class="form-control" [(ngModel)] = "bookType" placeholder="Book Genre">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary w-100" (click)="addBook()">Add Book</button>
            </div>
        </div>
    </div>

    <h2 class="text-center mt-5"></h2>

    <ul class="list-group mt-3">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let book of booksList; index as i">
            {{book.title}} | {{book.author}} | {{book.genre}}
            <button class="btn btn-danger" (click)="deleteBook(i)">Delete</button>
        </li>
    </ul>
</div>
