* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #10101e;
  }
  
  .datetime {
    color: #fff;
    background: #10101e;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #2e94e3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px
      linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
  }
  
  .datetime:hover {
    background-color: #2e94e3;
    box-shadow: 0 0 30px #2e94e3;
  }
  
  .date {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time span:not(:last-child) {
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time span:last-child {
    background: #2e94e3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 7px;
    border-radius: 3px;
  }

  