*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(mmawallpaper.jpg);
    background-size: cover;
    background-position: center;
  }
  .navbar{
      width: 85%;
      margin: auto;
      padding: 35px 0;
     
  }
  .navbar ul{
    display: flex;
    align-items: center;
    justify-content :space-between;
    list-style: none;
  }
 
  .navbar ul li{
      font: size 50px;
      list-style: none;
      display: inline-block;
      margin: 0 10px;
  }
  .navbar ul li a{
      text-decoration:yellow;
      color:aliceblue;
      text-transform: uppercase;
      display:block;
      position: relative;
  }
  .navbar ul li a::after{
      content:' ';
      height:3px;
      width: 0%;
      background: #009675;
      position:absolute;
      left:0;
      bottom: -10px;
      transition: 0.5s;
}
.navbar ul li a:hover::after{
    width: 100%;

    
}
.content{
    width: 100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
    color:#fff;
}
.content h1{
    font-size: 70px;
    margin-top:80px;
}
.content p{
    margin:20px auto;
    font-weight:100;
    line-height:25px;
}
.tags{
    width: 200px;
    padding: 15px 0;
    text-align:center;
    margin: 20px 10px;
    border-radius:25px;
    font-weight: bold;
    border:2px solid #009675;
    background:transparent;
    color:#fff;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009675;
    height: 100%;
    width:100%;
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    transition:0.5s;

}
.tags:hover span{
    width:100%;
    background: transparent;
}
.content2{ width: 100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    text-align:left;
    color:#fff;
}

.content3{ width: 100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    text-align:left;
    color:#fff;
}

.content4{ width: 100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    text-align:left;
    color:#fff;
}
.banner1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(originimage.jpg);
    background-size: cover;
    background-position: center;
  }

  .banner2{
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(bjj.jpg);
    background-size: cover;
    background-position: center;
  }
  .banner3{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(promoters.jpg);
    background-size: cover;
    background-position: center;
  }



