/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  /* background: #009579; */
  /* background-image: url('./images/WhatsApp Image 2024-01-19 at 01.01.40.jpeg'); */
  background:hsl(220, 5%, 20%);
}
#loginImage1{
  
  height: 80vh;
  width: 35%;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 8%;
  /* position: relative; */
}

.container {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}
.container .registration {
  display: none;
}
#check:checked ~ .registration {
  display: block;
}
#check:checked ~ .login {
  display: none;
}
#check {
  display: none;
}
.container .form {
  padding: 2rem;
}
.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}
.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.form a {
  font-size: 16px;
  color:hsl(220, 5%, 20%);
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.form input.button {
  color: #fff;
  background:rgb(38,40,42);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover {
  background: rgb(38,40,42);
}
.signup {
  font-size: 17px;
  text-align: center;
}
.signup label {
  color:hsl(220, 5%, 20%);
  cursor: pointer;
}
.signup label:hover {
  text-decoration: underline;
}