*{
    margin: 0;
    padding: 0;
    font-family:'Courier New';
    box-sizing:border-box;
    user-select:none;
  }

  h1{
    padding-bottom:20px;
  }



  html,body{
    text-align:center;
    display:flex;
    height:100%;
    align-items:center;
    justify-content:center;
    background:#f2f2f2;
  }

  .inputBox{
    position: relative;


     background:#FDD5D5;
    width:500px;
    padding:20px 30px;
    border-radius:5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
   height:455px;
  }

  .inputBox h2{
    font-size:24px;
    padding-left:15px;
  }

  .inputBox input{

    position:relative;
    width:50%;
    height:45px;
    border:none;
    margin:15px 0 20px;

    background:#fff;


    border:2px solid lightgrey;
    padding-left:15px;
    border-radius:5px;
    font-size:15px;
    outline:none;
     transition:all 0.2s;

  }

  .inputBox input:focus{
    border-color:#97E5D7;
    box-shadow:inset 0 0 3px #2fd072;
  }

  .inputBox #btn{
    position:relative;
    color:#fff;
    cursor:pointer;
    background:#BA55D3;
    font-size:20px;
    padding:10px 15px;
    border-radius:8px;
    width:215px;
    margin-left:1%;
  }

  .inputBox #btn:active{
    background:#97E5D7;
  }

  .container{
    position:absolute;
  }

  i{
    color:#BA55D3;
    position:relative;
    margin-left:1100%;
    padding-bottom:24px;
    cursor:pointer;
    font-size:20px;
  }

  i:active{
    color:#97E5D7;
  }

  ::placeholder {
    opacity: 0.5;
  }



  label{
    padding-left:20px;
    padding-top:20px;
   float:left;
    font-size:20px;
    font-weight:700;
  }

  #tip_amount{
    margin-left:10px;
  }

  #bill_total{
    margin-left:10px;
  } 