.navbar{
  background-color: #95afc0;
  margin: 0px;
}

.navbar-firstnav {
	float:none;
	margin:0 auto;
	text-align: center;
	font-family:adam;
	font-size: 0px;
}

.navbar-firstnav>li {
	display: inline-block;
	float: none;
}

.navbar-firstnav>li>a{
	color:#dfdfdf;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 37px;
}

.navbar-brand{
  font-family: 'Lato', sans-serif;
  color: #130f40;
  padding-top: 8px;
}

.btn-live{
  font-family: 'Lato', sans-serif;
  border: 1px solid #ccc;
  border-radius: 0px;
}


div.btn-group {
    display: inline-block;
    align-items: center;
}

.place-right{
  padding: 6px 12px;
  font-size: 14px;
}

body{
  background-color: #e8eaf6;
}
.codeContainer{
  float: left;
}

.navbar-text{
  margin: 0px 2px;
  float: right;
}

textarea {
  width: 100%;
  height: 90vh;
  display: block;
  background-color: #eff8ff;
 }

 iframe{
   width: 150%;
   height: 90vh;
   display: block;
   background-color: #fff;
 }

.label-text{
  display: block;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  margin: 0px;
  color: #0b5280;
}

.label-Output{
  display: block;
  margin: 0px;
  font-size: 18px;
  font-family: 'Comfortaa', cursive;
  width: 162%;
  background-color: #e8eaf6;
  color: #006db3;
}

.body-maker{
  margin-left: 10px;
  margin-right: 0px;
}
