*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 50%;
    height: 300px;
    margin: 0 auto;
    background-color: #1DA1F2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.6);
}

#quotes{
    text-align: center;
}

