td{
    padding:60px;
}
table{
    margin:100px;
    position: absolute;
    left:90px
}
input{
    width:150px;
    height:150px;
    font-size: 60px;
}
span{
    display: inline;
}
button{
    position: absolute;
    right:760px;
    top:700px
}
.header{
    width:auto;
    height:100px;
    background-color: lightgreen;
    border-radius: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 64px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#clue{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#result{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#clueb{
    width:350px;
    height:150px;
    animation-name: cluebox;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 15px;
    box-shadow: 5px 5px greenyellow;
}
@keyframes cluebox {
    from{background-color: limegreen;}
    to{background-color: green;}
}
body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/600/238/non_2x/jungle-scene-with-various-forest-trees-free-vector.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
