// Primary

$SoftCyan: hsl(174, 77%, 80%);
$StrongCyan: hsl(174, 86%, 45%);
$LightGrayishRed: hsl(14, 92%, 95%);
$LightRed: hsl(15, 100%, 70%);
$PaleBlue: hsl(226, 100%, 87%);

// Neutral

$White: hsl (0, 0%, 100%);
$VeryPaleBlue: hsl(230, 100%, 99%);
$LightGrayishBlue1: hsl(224, 65%, 95%);
$LightGrayishBlue2: hsl(223, 50%, 87%);
$GrayishBlue: hsl(225, 20%, 60%);
$DarkDesaturatedBlue: hsl(227, 35%, 25%);

html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  //   background-color: $VeryPaleBlue;
  background: url("./images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
}

.head-container {
  background: url("./images/pattern-circles.svg") no-repeat center;
  background-size: contain;
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 25px;
}

.container {
  #head {
    color: $DarkDesaturatedBlue;
    font-weight: bold;
    text-align: center;
  }
  .head-text {
    color: $GrayishBlue;
    text-align: center;
  }
}

.pageview,
.month {
  color: $GrayishBlue;
}

#op {
  color: $DarkDesaturatedBlue;
  font-weight: bold;
  font-size: x-large;
  overflow: auto;
}

.card {
  background: $White;
  text-align: center;
  border: none;
  width: 550px;
  height: 400px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vw;
  padding-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rangecontainer {
  width: 100%;
  .range {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 75%;
    height: 8px;
    border-radius: 5px !important;
    background: $SoftCyan;
    outline: none; /* Remove outline */
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $StrongCyan url("./images/icon-slider.svg") no-repeat center;
    box-shadow: 0 4px 5px $StrongCyan;
    cursor: pointer; /* Cursor on hover */
  }
  .range::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $StrongCyan url("./images/icon-slider.svg") no-repeat center;
    box-shadow: 0 4px 5px $StrongCyan;
    cursor: pointer; /* Cursor on hover */
  }
}

//Switch
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $LightGrayishBlue2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $StrongCyan;
}

input:focus + .slider {
  box-shadow: 0 0 1px $StrongCyan;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.text-a {
  color: $GrayishBlue;
}
.text-b {
  color: $GrayishBlue;
}
.discount {
  font-size: 11px;
  background: $LightGrayishRed;
  color: $LightRed;
  padding: 4px;
  border-radius: 10px !important;
  font-weight: bold;
}

.sectiona {
  margin-left: 50px;
  margin-right: auto;
  text-align: left;
  color: $GrayishBlue;
}
.sectionb {
  margin-top: 50px;
  // margin-bottom: 50px;
  margin-left: auto;
  margin-right: 50px;
}
li.borderless {
  border: 0 none;
}
.icon {
  background: url("./images/icon-check.svg") no-repeat;
  height: 9px;
  width: 9px;
  margin: 0 4px 0 0;
  display: inline-flex;
  align-self: center;
}

.btn {
  background: $DarkDesaturatedBlue;
  color: $LightGrayishBlue2;
  border-radius: 50px;
  width: 175px;
  height: 40px;
}
