*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom, #68EACC 0%, #497BEB 100%);
}
.wrapper{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 25px;
}
.wrapper header{
    font-size: 17px;
    
}
.wrapper .inputField{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}
.inputField input{
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 17px ;
    border-radius: 3px ;
    padding-left: 15px;
    outline: none;
}
.inputField button{
    background: rgb(46, 46, 218);
    color: white;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}
.inputField button.active{
    opacity: 1;
    pointer-events: auto;
}
.wrapper .todoList{
    max-height: 250px;
    overflow: auto;
}
.todoList li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background:  #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}
.todoList li button{
    position: absolute;
    right: -55px;
    background: rgb(218, 46, 46);
    color: white;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
    height: 45px;
    transition: all 300ms ease;
}
.todoList li:hover button{
    right: 0px;
}
.wrapper .footer{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.footer button{
    background: rgb(46, 46, 218);
    color: white;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
    height: 30px;
}