 *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
 }
 .container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #1e1bba,  #1f5f08 ); 
    padding: 10px;
    
 }
 .todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 40px auto 70px;
    padding: 40px 30px 70px;
    border-radius: 10px;
 }
 .todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
 }

 .todo-app img{
    width: 6vh;
    margin-left: 10px;
 }
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;

}
.add {
   border: none;
   outline: none;
   padding: 16px 50px;
   background: orangered;
   color: #fff;
   border-radius: 40px;
   font-size: 16px;
   cursor: pointer;

}
ul li{
   list-style: none;
   font-size: 17px;
   padding: 12px 8px 12px 50px;
   user-select: none;
   cursor: pointer;
   position: relative;

}

ul li::before{
   content: '';
   position: absolute;
   height: 28px;
   width: 28px;
   border-radius: 50%;
   background-image: url(uncheck.png);
   background-size: cover;
   background-position: center;
   top: 12px;
   left: 8px;
}
ul li.checked{
   color: #555;
   text-decoration: line-through;

}
ul li.checked::before{
   background-image: url(checked.png);
}
ul li span{
   position: absolute;
   right: 0px;
   top: 5px;
   width: 40px;
   height: 40px;
   font-size: 22px;
   color: #555;
   line-height: 40px;
   border-radius: 50px;
   text-align: center;
}
ul li span:hover{
   background-color: #edeef0;
}