@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
.container{
    font-family: 'poppins';
    margin: 1vw 9vw;
}
button{ 
    font-family: inherit;
}
p,h1,h2,h4{
    margin: 0px;
}
/* Header section starts */
.header{ 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .logo{
        min-width: 80px;
        min-height: 80px;
        flex-shrink: 0;
        img{
            width: 100%;
            height: 100%;
        }
    }
    i{
        display: none;
    }
}
.nav-links {
    ul{    
        display: flex;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
        gap:2rem;
        li a{   
            font-weight: 500;
            font-size: 0.93rem;
            color: black;
            text-decoration: none;
            &:hover{
                border-bottom: 1px solid black;
                transition:all .1s ease-in-out 0s ;
            }
        }
    }
    button{ 
        padding: .3rem 1rem;
        font-weight:500;
        background-color: #fff;
        border-radius: 5px;
        border:1.2px solid black;
        cursor: pointer;
        &:hover{
            background-color:rgb(245, 171, 33);
            transition:all .5s ease-in-out .1s ;
        }
    }
    select{
        border: none;
        outline: none;
        font-weight:500;
    }
}
/* header section Closed */


/* banner section starts */
.banner{
    display: flex;
    align-items: center;
    width: 100%;
}
.banner__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.banner__text--quote{
    color: rgb(227, 93, 45);
    font-weight: 600;
}
.banner__text--big-text{
    padding: .8rem 0rem;
    line-height: 10vh;
    font-size: 5vw;
    color: #181E4B;
    font-weight: 900;
}
.banner__text--about{   
    padding-right: 31%;
    line-height: 1.56rem;
    color: rgb(112, 111, 111);
    font-size: 0.8rem;
    font-weight: 500;
}
.banner__text--btn{
    width: 9.375rem;
    margin-top: 0.93rem;
    font-size: 1rem; 
    height: 3.75rem;
    border-radius: 10px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background: rgb(245, 171, 33);
    color: #fff;
    box-shadow: 0px 1px 4px 2px rgb(245, 171, 33);
}
.banner__image{
    display: flex;
    width: 50%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}

/* Banner section closed */

/* design block*/
.plus-pattern{
    position: absolute;
    top:49.3rem;
    right: 0px;
}
/* design block closed */

/* category block starts */
.category{
    position: relative;
    width: 100%;
    margin-top: 3rem;
}
.category p{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 800;
    text-align: center;
    color: #5E6282;
}
.category h1{
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    color: rgb(6, 6, 49);
    margin: 1.25rem;
}
.services{
    margin-top: 2.18rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.2rem;
}
.services div{
    width: 13.125rem;
    height: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services div:hover{
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px #EFEFEF;
}
.services h4{
    margin: 0.625rem auto;
    font-size: 0.937rem;
    color: rgb(17, 17, 59);
    font-weight: 500; 
}
.services p{
    color: rgb(125, 105, 163);
    font-size: 0.812rem;
    font-weight: 500;
    padding: .625rem 1.2rem;
    text-align:center;
}
.services .weather img{
    width: 3.75rem; 
    height: 3.437rem; 
    margin-top: 1.75rem;
}
.services .flight img{
    height: 85px; 
    margin-top: 0px;
    width: 6.25rem;
}
.services .event img{
    margin-top: .9rem;
    width: 4.375rem;
    height: 4.375rem;
}
.services .customization img{
    width: 3.75rem; 
    height: 3.75rem;
     margin-top: 1.562rem;
}
/* category block ends */

/* Top selling starts */
.top-selling{
    width: 100%;
    margin-top: 3.125rem;
    overflow: hidden;
}
.top-selling p{
    margin-top: 0.625rem;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 800;
    text-align: center;
    color: #5E6282;
}
.top-selling h1{
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.875rem;
    margin: 0.937rem;
    color: rgb(11, 11, 52);
}
.trending{
    margin-top: 1.875rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1.25rem;
}
.trending p{ 
    font-size: 0.937rem; 
    font-weight: 500;
}
.place{
    /* width: clamp(20rem,23rem,auto); */
    width: 23rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.125rem;
    box-shadow: 0px 0px 2px 1px rgb(227, 230, 240);
}
.place img{
    clip-path: polygon(0%0%, 100%0%, 100%95.5%, 0%95.5% );
    height: 21.1rem;
    background-size: cover;
}
.name-price, .trip-duration{
    display: flex;
    font-size: 0.8125rem;
    font-weight: 600;
}
.name-price{
    margin-top: -10px;
    padding: 0rem  1rem;
    justify-content: space-between;
}
.trip-duration{
    margin: 4px 0px 10px;
    justify-content: flex-start;
    align-items: center;
}
.trip-duration img{
    padding: 0rem .5rem 0rem 1rem;
    height: 1rem;
}
.trip-duration p{
    margin: 10px 0px;
}
/* Top selling ends*/

/* Booking section statrs */
.booking-container{
    position: relative;
    width: 100%;
    margin-top: 6.25rem;
}
.booking-container p{
    color: #5E6282;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.booking{
    display: flex;
    margin-top: 1.25rem;
    gap: 8.5rem;
    overflow: hidden;
    .booking-steps{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;
        h1{
            text-transform: capitalize;
            font-weight: 500;
            font-size: 2.5rem;
        }
        .steps{
            margin-top: 0.625rem;
            margin-bottom: 2rem;
            display: flex;
            gap: 0.625rem;
            img{
                margin-top: 0.5rem;
                width: minmax(3.437rem,auto);
                height: 2.5rem;
            }
            .title{
                color: #5E6282;
                font-size: 0.875rem;
                font-weight: 700;
            }
            .description{
                margin-top: 0.3rem;
                padding-right: 3rem;
                color: #5E6282;
                font-size: 0.843rem;
                font-weight: 400;
                line-height: 1rem;
            }
        }
    }
    .booking-banner{
        margin-top: 1rem;
        position: relative;
        .card{
            width: 95%;
            border-radius: 0.9375rem;
            padding: 0.625rem;
            background-color: rgb(250, 250, 250);
            box-shadow:30px -10px 75px 7px rgb(211, 229, 244);
            & > img:first-child{
                width: 100%;
            }
        }
        .title{
            color: black;
            margin-top: 0.625rem;
            font-size: 0.9375rem;
            font-weight: 600;
        }
        .date, .people{
            margin-top: 0.625rem;
            color: rgba(94, 98, 130, 0.836);
            font-size: 0.875rem;
            font-weight: 500;
        }
        .icons{
            margin-top: 0.625rem;
        }
        .people-count{
            gap: 0.625rem;
            display: flex;
            img{
                margin-top: 7px; 
                width: 20px; 
                height: 20px;
            }
        }
        .floating-card{
            padding: 0.5rem 0rem 0.5rem 0.9375rem;
            right:-27.5%;
            top:48%;
            background-color: #fff;
            position: absolute;
            width: auto;
            .img-wrapper{
                width: 40px;
                height: 40px;
                display: inline-block;
            }
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
            .ongoing{
                margin-left: 0.5625rem;
                display: inline-block;
                p{
                    color: rgba(94, 98, 130, 0.836);
                    font-size: 0.9375rem;
                    font-weight: 500;
                }
                .trip{
                    color: #000;
                    font-size: 0.9375rem;
                    font-weight: 600;
                }
            }
            .percentage{
                display: flex;
                flex-direction: column;
                margin-top: 0.4375rem;
                margin-left: 3.3125rem;
            }
            .first-line{
                display: flex;
            }
            .first-line p:first-child{
                color: #8A79DF;
            }
            .first-line p:nth-child(2){
                color: #000;
                font-weight: 500;
            }
            .progress-bar{ 
                margin-top: 0.4375rem;
                height: 0.3125rem;
                width: 10rem;
                background-color: rgba(245, 245, 245, 0.831);
                .filled{
                    border-radius: 0.1875rem;
                    width: 43%;
                    height: 100%;
                    background-color: #8A79DF;
                }
            }
        }
        .heart img{
            position: absolute;
            right: 10%;
            top:81%;
        }
    }
}
/* Booking Section ends */


/* subscribe-section starts*/
.subscribe-wrapper{
    background-color: #FFf;
}
.subscribe-section{
    border-top-left-radius: 120px;
    margin-top: 7.5rem;
    background-color: rgba(220, 211, 245, 0.269);
    min-height: 25.625rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h2{
        margin-top:1rem;
        font-size: 1.875rem;
        color: #5E6282;
        padding: 0rem 6rem;
        text-align: center;
    }
    .mail-btn{
        display: flex;
        gap: 0.625rem;
        width: 60%;
        height: 4rem;
        .mail-box{
            border-radius: 10px;
            width: 70%;
            height: 100%;
            background-image: url(./images/mail.svg);
            background-repeat: no-repeat;
            background-position: 10px 21px;
            padding: .0rem 1.25rem 0rem 2.5rem;
            border: #fff;
            outline: none;
        }
        button{
            border: none;
            width: 20%;
            color: #fff;
            background-color: #FF906C;
            cursor: pointer;
            border-radius: 15px;
            height: 100%;
        }
    }
    /* subscribe section design starts */
    .send-newsletter{
        position: absolute;
        top:-5%;
        right:-4%;
    }
    .spiral-right img{
        position: absolute;
        opacity: 0.15;
        width: 14vw;
        height: 14vw;
        top:0rem;
        right: 0rem;
        rotate: 270deg;
        z-index: 1;
    }
    .spiral-left img{
        position: absolute;
        opacity: 0.15;
        width: 20vw;
        height: 17vw;
        bottom: 0%;
        left: 0%;
        z-index: 1;
    }
    /* subscribe section design ends*/
}
/* subscribe-section ends */

/* plus pattern down design  starts*/
.plus-pattern-down{
    position: absolute;
    right: 10px;
    top:165rem;
    rotate: 90deg;
    z-index: -1;
}
 /* plus pattern down design  ends*/

/* footer Section starts */
.footer__top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10rem auto 0rem;
    gap:1rem;
    & > div{
        margin: auto;
    }
    ul{
        padding: 0px;
        li{
            list-style: none;
            font-size: 0.875rem;
            color: rgba(94, 98, 130, 0.836);
            font-weight: 600;
            margin-bottom: 0.625rem;
        }
    }
}
.footer__top .description
{
    margin-top: 0;
    width: 11.25rem;
    .title{
        color: #181E4B;
        font-size: 2rem;
        font-weight: 500;
    }
    .about{
        font-size: 0.625rem;
        color: rgba(94, 98, 130, 0.836);
        font-weight: 550;
    }
}
.footer__top  ul li:first-child{
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
    font-size: 1rem;
}
.external-links .icons{
    display: flex;
    gap:0.625rem;
    img{
        height: 60px;
        width: auto;
    }
    justify-content: center;
    /* margin: auto; */
}
.insta{
    margin-top:0.9375rem;
    img{
        height: 20px !important;
    }
}
.external-links p{
    font-size: 0.9375rem;
    color: rgba(94, 98, 130, 0.836);
    font-weight: 600;
    margin: 1px 0px;
    text-align: center;
}
.btn{
    margin-top: 10px;
    display: flex;
    gap:10px;
}
.btn button{
    border: none;
    cursor: pointer;
    height: 2rem;
    width: 6.25rem;
    color: fff;
    background-color: #000;
    border-radius: 0.9375rem;
}
.playstore , .apple{
    display: flex;
    align-items: center;
    gap:3px;
    justify-content: space-evenly;
    padding: 0px;
    img{
        font-size: 1.25rem;
        margin: 0;
        color: #FFf;
    }
    p{
        text-align: start;
        color: #FFf;
        margin: 0;
        font-size: 0.4375rem;
    }
}
.copyright{
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(94, 98, 130, 0.836);
    text-align: center;
    margin: 4rem auto;
}
/* footer section ends */

/* Media Queries */
@media screen and (max-width:620px) {

   .header{
        justify-content: center;
        align-items: center;
        flex-direction: column;
   }
   .nav-links{
        width: 100%;
   }
   .nav-links ul{
        padding: 0px;
        li{
            text-align: center;
        }
   }
   .header i{
        display: block;
        position: absolute;
        right: 0;
        top:3rem;
   }
}

@media  screen and (max-width:1080px){
    .banner{
        margin-top: 2rem;
    }
    .banner__text--about{
        padding: 10px;
    }
    @media  screen and (max-width:900px){
        .banner{
            align-items: flex-start;
            .banner__text{
                margin-top: 5rem;
                width: 100%;
                &>*{
                   text-align: center; 
                }
                .banner__text--big-text{
                    line-height: normal;
                }
                .banner__text--btn{
                    margin: 0.93rem auto;
                }
            }
            .banner__image{
                display: none;
            }
        }
    }
}

@media screen and (max-width:507px)
{
    .trending{
        gap:1.25rem;
    }
    .trending .place{
        width: 100%;
        img{
            height: auto;
        }
    }
}

@media screen and (max-width:1184px){
    .booking-container p:first-child{
        text-align: center;
    }
    .booking{
        flex-direction: column;
        gap:3rem;
        .booking-steps{
            width: 100%;
            h1{
                text-align: center;
            }
            .steps{
                align-items: center;
                justify-content: center;
                &>*{
                    padding: 0;
                    text-align: center;
                }
            }
        }
        .booking-banner{
            margin: auto;
            .floating-card{
                /* display: none; */
                top:60%;
                right: -27.5%;
            }
            .heart img{
                top: 90%;
            }
        }
    }
    @media screen and (max-width:533px){
        .booking{
            .booking-steps{
                .steps{
                    .description{
                        padding:0px;
                    }
                }
            }
        }
        .booking-banner {
            margin: 0;
            width: 100%;
            .card{
                box-shadow: 2px 2px 0px 3px blue;
            }
            & > .floating-card, .heart{
                display: none;
            }
        }
    }
}
@media screen and (max-width:820px){
    .subscribe-section{
        h2{
            margin-top: 3rem;
            padding: 0rem 1rem;
            text-align: center;
            font-size: 4vw;
        }
        .mail-btn{
            flex-direction: column;
            height: 9rem;
            .mail-box{
                height: 100%;
                width: 80%;
            }
            button{
                width: 60%;
                margin: auto;
            }
        }
    }
}
@media screen and (max-width:550px){
    .footer__top{
        flex-direction: column;
        align-items: flex-start;
        & > div{
            margin: 0px;
        }
    }
}