* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General mobile view styles for screens less than or equal to 595px */
@media (max-width: 595px) {
    #container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center; /* Center-aligns images */
        gap: 10px; /* Adds some space between images */
    }

    .header {
        padding: 30px 10px; /* Combines padding-top, bottom, left, and right */
        text-align: center;
    }

    img {
        width: 250px;
        height: 300px;
        object-fit: cover; /* Ensures images don't get distorted */
    }

    .footer {
        padding: 10px;
        text-align: center;
    }
}
